<div class="card !mb-8">
    <div class="flex flex-row justify-between">
        <div class="font-semibold text-xl mb-4">Últimos Posts</div>
        <div>
            <p-button label="Adicionar Tópico" icon="pi pi-plus" size="large" routerLink="/add"/>
        </div>
    </div>
    <p-table [value]="postagensPrincipais"
             [paginator]="true"
             [rows]="5"
             responsiveLayout="scroll"
             [globalFilterFields]="['id', 'titulo', 'curso', 'autor']"
             #postTable>
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Limpar Filtro" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(postTable)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(postTable, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>
                    Id
                    <p-columnFilter type="text" field="id" display="menu" placeholder="Procurar por Id"></p-columnFilter>
                </th>
                <th pSortableColumn="titulo">
                    Título
                    <p-sortIcon field="titulo"></p-sortIcon>
                    <p-columnFilter type="text" field="titulo" display="menu" placeholder="Procurar por Título"></p-columnFilter>
                </th>
                <th pSortableColumn="curso">
                    Curso
                    <p-sortIcon field="curso"></p-sortIcon>
                    <p-columnFilter type="text" field="curso" display="menu" placeholder="Procurar por Curso"></p-columnFilter>
                </th>
                <th pSortableColumn="autor">
                    Autor
                    <p-sortIcon field="autor"></p-sortIcon>
                    <p-columnFilter type="text" field="autor" display="menu" placeholder="Procurar por Autor"></p-columnFilter>
                </th>
                <th>Visualizar</th>
            </tr>
        </ng-template>
        <ng-template #body let-postagem>
            <tr>
                <td style="width: 10%; min-width: 5rem;">
                    {{postagem.id}}
                </td>
                <td style="width: 40%; min-width: 7rem;">{{ postagem.titulo }}</td>
                <td style="width: 20%; min-width: 8rem;">{{ postagem.curso }}</td>
                <td style="width: 20%; min-width: 8rem;"><p-avatar class="mr-1" [label]="postagem.autor.charAt(0)"></p-avatar>{{ postagem.autor }}</td>
                <td style="width: 7%;">
                    <button pButton pRipple type="button" routerLink="/post/{{postagem.id}}" icon="pi pi-angle-right" class="p-button p-component p-button-text p-button-icon-only"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
