<div class="card flex flex-col gap-4">
    <div class="font-semibold text-xl">Título</div>
    <div class="flex flex-col">
        <input pInputText type="text" placeholder="Título do tópico" [(ngModel)]="titulo"/>
    </div>

    <div class="font-semibold text-xl">Resposta</div>
    <textarea pTextarea placeholder="Sua resposta..." rows="3" cols="30" [(ngModel)]="respostaTexto"></textarea>

    <div class="flex flex-col md:flex-row gap-6">
        <div class="flex flex-wrap gap-2 w-full">
            <label for="curso"><div class="font-semibold text-xl">Curso</div></label>
            <p-select id="curso" [(ngModel)]="curso" [options]="cursos" optionLabel="nome" placeholder="Selecione um Curso" class="w-full"></p-select>
        </div>
    </div>

    <div class="flex flex-row justify-end">
        <p-button severity="danger" label="Cancelar" (onClick)="cancelarVoltarPaginaInicial()"></p-button>
        <p-button class="ml-2" label="Enviar" (onClick)="enviarPost()" />
    </div>

</div>
